
button{
    margin-right: 5px;
}
.NavBar {
    position: relative;
    width: 85px;
    height: 85px;
    background-size: 100% 100%;
    color: white;
    margin-left: 5px;
    border: none;
    background-size: 100% 100%;
    transition: 200ms;
    justify-content: center;
    outline: none;
    cursor: pointer;
    font-size: 100%;
    margin-top: 2%;
    padding:5px;
    white-space: break-spaces;
}



#Nav1 {
    background: #83BF00;
    box-shadow: 5px 5px 0px 0px #008736;
}

#Nav2 {
    background: #00A7E5;
    box-shadow: 5px 5px 0px 0px #0565BC;
}

#Nav3 {
    background: #FF9700;
    box-shadow: 5px 5px 0px 0px #D17016;
}

#Nav4 {
    background: #E1232D;
    box-shadow: 5px 5px 0px 0px #50001E;
}

.NavBar:hover {
    transform: scale(1.04);
    transition: 200ms;
}

