@font-face {
  font-family: 'BetterVCR';
  src: url('../assets/fonts/BetterVCR.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.text-load {
  position: relative;
  color: #1b1852;;
}
.text-load:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
  color: #3A35A7;
  animation: loading 8s ease-out;
}
@keyframes loading {
  0% {
      max-width: 0;
  }
}
