*{
    font-family: monospace,bold;
    text-shadow: 1px 1px #00000025;
}
.perenos {
    font-size: 100%;
    margin-top: 0.5%;
    padding:2px;
    width:auto;
    white-space: break-spaces;

}
ul{
    padding-left: 15px;
}
li{
    color:#3A35A7;
    padding: 5px;
    
}
p{
    color:#3A35A7;
}
.for_main_div{
    border: solid rgb(182, 171, 154);
    border-radius: 10px;
    margin-top: 1%;
    background-color: rgb(252, 242, 228);
}