b{
    padding-top: 15px;
    color:rgb(50, 204, 191);
    font-size: 18px;
    font-family: BetterVCR;
}
.input_box{
    margin-top: 15px;
    width: 100%;
    height: 50px;
    border-radius: none;
    text-align: center;
    border-color: rgb(85, 0, 255);
    outline: none;
}
.weekday{
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: BetterVCR;
    font-size: 16px;
    color: rgb(93, 0, 255);
}
.TimeTableContent{
    margin: 0px;
    padding: 0px;
    justify-content: center;

}
.HomeWorkTable{
    color: rgb(85, 0, 255);
}