
.textwriter {
  border-right: solid 3px rgba(0, 0, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  color:#3A35A7;
}

.text-opacity{
    animation: quick_opacity 1s;
}
@keyframes quick_opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}